<nav id="toc">
    <h3 id="toc-title">Sommaire</h3>
</nav>

<div id="cover">
    <iframe id="inlineFrameExample" title="Inline Frame Example" width="100%" height="700px"
        src="https://front-outil-memoire.herokuapp.com/">

    </iframe>
</div>



##L’éditeur de texte*


<p>
    J'ai l'habitude de travailler avec un éditeur de texte (Visual studio code) pour programmer.
    Un éditeur de texte c'est un logiciel qui comporte des fonctionnalités spécialement conçues pour simplifier et
    accélérer la saisie du code source, telles que la coloration syntaxique, l'indentation, la saisie semi-automatique
    et
    la correspondance d'accolades.
    En gros si on veut on pourrait coder en utilisant n'importe quel logiciel de traitement de texte mais un logiciel
    comme VScode nous fait gagner beaucoup de temps, et en plus c'est gratuit...

</p>
<p>
    Pour un site web ou une application, à un certain niveau de complexité il devient primordiale d'architecturer
    correctement le dossier et de respecter quelques règles et bonnes pratiques.</br>
    Par exemple il faut choisir des noms évocateurs pour les fichiers, et respecter des conventions de nommages.</br>

</p>


<p>
    Afin de comprendre d'où découlent la logique de la structure d'un projet web il faut d'abord connaître deux trois
    trucs sur le fonctionnement de nos navigateurs.</br>
    Quand on clique sur un lien ou qu'on rentre un url dans la search bar, le navigateur grâce au protocole HTTP
    (HyperTextTransferProtocol), va demander au serveur ciblé de lui transmettre le site qui correspond au nom de
    domaine.</br>
    Un fois reçu il va chercher une entrée dans le dossier du site, souvent c'est le fichier appelé '"index.html" par
    défaut. Le moteur de rendu du navigateur commence par construire les fondations du site en traduisant le code HTML
    (hyperTextMarkUpLanguage) pour la structure, puis dès qu'il croise des liens vers d'autres ressources: fichiers CSS
    pour le style, ou Javascript pour les animations ect..., il doit faire une nouvelle requête au serveur pour la
    récupérer et la traduire visuellement..</br>
    Plus le nombre de requêtes au chargement de la page est grand, plus le site va prendre du temps à charger, il est
    donc
    souhaitable de le limiter au maximum..</br>
    Pour ça on va tenter d'avoir uniquement un fichier d'entrée pour toutes les feuilles de style et un autre pour le
    javascript *et donc même s'il y a plusieurs fichiers js et css dans l'architecture des dossiers, avant de mettre en
    ligne il y a une étape d'assemblage et de compression de ces fichiers pour optimiser le chargement des pages.
    Ensuite on peut utiliser des outils comme webpack pour compresser et minifier tout les fichiers.
    Webpack c'est une sorte de moulinette magique qui va bundle tout les assets au moment de la mise en ligne.

</p>
<iframe id="inlineFrameExample" title="Inline Frame Example" width="100%" height="300px" src="https://webpack.js.org/">
</iframe>

<p>

    Les fichiers sont organisés dans les dossiers par catégories, et de manière à ce qu'on puisse facilement visualiser
    ce
    qui est importé et où.
    Toutes ces couches c'est un peu comme un oignon mais en plus complexe.
    Quand je suis fasse à un site que je connais bien, en un coup d’œil sur la colonne de gauche de l’éditeur où se
    trouve
    l'architecture du dossier, je peux construire une sorte d'image mentale et visualiser toutes les connexions et
    entrecroisements dans le code.
    Naviguer dans le dossier ça devient comme jouer une partition de musique que je connait par cœur.
    C'est à ce moment qu'on peut commencer à travailler les enchainements entre les différentes parties du morceau,
    installer les rythmes et les nuances, et commencer a révéler la musique.

</p>
<p>
    Ça peut être vertigineux le déchiffrage quand on doit dépoussiérer un ancien projet et qu'on tente de retrouver le
    fil
    de notre pensée ou bien qu'on arrive sur un nouveau code fait par des inconnus.
    C'est pour cela qu'il est important de respecter les bonnes pratiques et de s'appliquer à nommer adéquatement les
    fichiers et les éléments des programmes.
    Au début c'est un peu labyrinthique mais une fois qu'on comprend la structure de l'arbre ça devient très
    satisfaisant
    de naviguer mentalement dans cette structure.

</p>
<p>
    Pour nous faire gagner en efficacité, l'éditeur de texte fournit pleins d'outils de recherches et raccourcis
    extrêmement pratiques, ce qui rend le jeux contre le sablier assez excitant.
    Finalement à tout les niveaux un site web c'est une course contre la montre parce qu’il s'agit d'être le plus rapide
    possible pour sa construction et simultanément penser le code pour gagner le max de temps au moment du rendement du
    site dans le navigateur pour l'utilisateur.

</p>
<p>
    Avec mon mémoire je voulais arriver à être aussi confortable pour naviguer dans ma recherches et faire des liens
    entre
    les sujets que quand je travail dans mon éditeur sur un site.
    Pour pouvoir le réorganiser facilement, avoir une vision d'ensemble accessible de partout, construire la mise en
    page,
    la structure, collaborer avec mon promoteur sur la relecture, puis finalement partager facilement mon travail, et
    tout
    ça en profitant de l'environnement de travail de Vscode, j'ai donc décidé de construire un outil web.

</p>

<h3> Le modèle du classeur:</h3>

<p>
    C'est l'idée du "modèle du classeur" décrit dans le livre "Comment réussir son mémoire" par Jean-Pierre Fragnière
    qui
    m'a inspiré pour le design de l'interface de cet outil.

    Avant de commencé j'ai voulu tester ce modèle comme proposé dans le livre.
    J'ai acheté un classeur blanc, des feuilles plastifiées et des intercalaires colorés pour les chapitres.
    Ensuite j'ai imprimé toutes mes recherches sur des feuilles simples pour pouvoir les découper, réorganiser et
    griffonner dessus.</br>
    Un intercalaire correspond à un chapitre et à l’intérieur j'y place des notes, fiches de lectures, fiches
    bibliographiques, images, ect...</br>
</p>
<p>
    D'après Jean-Pierre Fragnière après être arrivé à un certain stade d'avancement ou une certaine date, il faut faire
    un
    break, tout relire, puis passer au plan définitif.</br>
    Ensuite à un moment t, il faut stopper l'accumulation de datas pour passer à la phase de rédaction.</br>
    Dans cette partie finale j'imagine qu'il s'agit de faire de jolies phrases pour assembler le tout.
    Mais il ne faut pas perdre de vue la cible, "le persona" comme disent les startupeurs.</br>
    Il faut aller à l'essentiel en restant au plus proche du plan pour ne pas partir dans tout les sens, ou faire de
    l’introspection.</br>
    Ensuite il faut divertir entre les lignes, vulgariser le charabia technique et infiltrer une dose de suspens...

</p>
<p>
    Le but de mon outil web c'était aussi de pouvoir retrouver rapidement des notes et lier des parties en utilisant un
    système de tags, créer des juxtapositions inopinées, et gagner du temps grâce à une fonctionnalité de recherche
    efficace.

</p>
<p>
    Après l'organisation et la synthétisation la difficulté ça va aussi surement être de finir. </br>
    Jul écrit ses textes en 5 minutes mais il en écrit en mass, et dans le tas, à force d'acharnement il y'a bien
    quelques
    trouvailles, comme pour les assiettes que Picasso produisait à la chaine. </br>
    C'est dangereux de s'embourber dans une quantité astronomique de recherche. </br>
    Comme en peinture, il faut savoir s’arrêter, et au bon moment, pour enfin commencer le travail fastidieux d’artisan.

</p>
<p>
    Je suis programmeuse web et si j'ai réussi à me faufiler dans cette vocation, sans avoir fait les études adéquates
    ni
    être un génie des maths, c'est surtout grâce à un talent héréditaire pour la flemmardise et surement un peu grâce à
    mon esprit de contradiction qui cherche à démentir les clichés sociétaux sur les geeks.

</p>
<p>
    Si j'ai décidé de coder l'outil c'est aussi parce-que ça m'ennuie d'utiliser adobe: je n'aime pas être dépendante
    d'un
    instrument; et je ne vais pas m'amuser à faire la mise en page à la main en collaboration avec une imprimante: 1 ça
    prendrait trop de temps et 2 c'est pas très écologique.

</p>
<p>
    Comme objectif je me suis fixé une trentaine de pages, un mémoire papier imprimé en 8 exemplaires et mis en page en
    web to print, en utilisant une méthode plutôt traditionnelle de rédaction.</br>
    Pour le Jazz il faut arriver au niveau où tu peux te le permettre.
    L'improvisation en Jazz, c'est pour les génies, ou ceux qui se sont sacrifiés pour la musique, sinon c'est
    imbuvable.

</p>
<p>
    Entre la phase du deuxième classeur (le plan définitif) et la rédaction il faut essayer de faire simple, finir
    l'épuration pour extraire le substrat.</br>
    L'essentiel c'est la définition précise de l'objet d'étude, les étapes de résolution de la problématique, puis de
    rester au plus près de ce que je suis pour les finitions.

</p>

##React <img src="./assets/images/react-icon.png" alt="react icon" width="30px">
>>>>>>> 206256148f285515656d2cfb5878cc4b6d103b87

<p>
    Pour construire l'outil j'ai choisi d'utiliser un framework javascript pour le frontend (Une bibliothèque
    JavaScript
    pour créer des interfaces utilisateurs) appelé
    [React](https://fr.wikipedia.org/wiki/React).


    REact app organisation du dossier:
    Dans une app react les principaux dossiers sont le dossier public, src (pour source) et node_modules.
    Le dossier node_modules est parfois caché car il est uniquement là pour stocker toutes les librairies javascript
    utiliser pour le site et leurs dependencies.
    On n'interargit pas directement avec le dossier node_modules mais via le terminal en utilisant les commandes
    Yarn ou
    bien Npm qui sont les gestionnaires de paquet javascript.


    C'est grâçe au fichier package.json qu'on repertories toutes les librairies et les dependencies dont elles ont
    besoin pour fonctionner.

    Pour construire une nouvel app react il y'a la commande cli "create-react-app".
    Si on arrive sur une app déja construite il faut s'assurer d'installer toutes les dependencies en utilisant la
    commande yarn install ou bien npm install.
    Npm et yarn sont des gestionnaires de packages javascript.



    J'ai hésité entre React et Vue au début car ce sont les deux frameworks js les plus trendy du moment.
    Ils se valent à peu près au niveau de la performance, ce qui les différencies principalement à mon sens c'est
    leur
    communauté, Vue étant un projet indépendant monté par un ancien de Google tandis que React est développé par
    Facebook
    .

</p>
<p>
    Finalement même si Vue m'attirait forcément d'avantage, j'ai choisi React car j'adore déja bosser avec et je
    n'avais
    pas la motivation ni le temps de me plonger dans un nouveau framework à ce moment là.
    Aussi Vue est un framework à part entière (Vue possède des fonctionnalité de routage, gestion du state, ect...
    de
    manière native) tandis que React est une librairie qui a besoin d'autres librairies pour fonctionner. Je trouve
    plus
    intéressant de pouvoir choisir parmi un grand nombre de librairies tierces développées par la communauté plutôt
    que
    de
    devoir m'en remettre presque uniquement au framework.

</p>
<p>
    Si les frameworks js ont commencés à être utilisé de toutes part sur le web c'est qu'ils permettent d’accélérer
    le
    chargement de nouvelles ressources une fois que la page as déjà finis d'être loadé.
    Cette fonctionnalité est possible sur le web uniquement depuis l'avènement d'une technologie appelé AJAX.

</p>

<h3>Ajax</h3>

<p>
    Quand on tape ajax sur google on tombe sur le score du dernier match d’Ajax Amsterdam (un club de football
    néerlandais) puis sur un article wikipedia des deux héros Ajax de la guerre de Troie dans la mythologie grec.
    Pour la page d’Ajax le Petit, au chant II de l’Iliade, dans le Catalogue des vaisseaux, on lit1 :
    « Les Locriens obéissent au fils d'Oïlée, Ajax le rapide. Il n'a pas la taille du fils de Télamon ; il est moins
    grand
    que lui, beaucoup moins grand même. Mais en dépit de sa petite taille et de sa cuirasse de lin, pour lancer la
    javeline, il n'a pas de rival parmi les Panhellènes ou les Achéens. »

</p>
<p>
    Dans son <a href="http://www.aaronsw.com/weblog/ajaxhistory">article sur Ajax</a>, <strong>Aaron
        Swartz*</strong>
    commence par
    dire "les nouvelles technologies deviennent rapidement si omniprésentes dans nos quotidiens qu'il est parfois
    difficile de se souvenir de comment les choses étaient avant. »
    La technologie Ajax s’est immiscée insidieusement dans nos vies, et comme Ajax le petit elle n’a pas vraiment eu
    de
    rival.
    Du jour au lendemain on s’est mis à être interrompu au quotidien par les bruitages des notifications
    instantanées
    sur
    les réseaux sociaux.

</p>
<p>
    C’est grâce à cette technologie que les design d’interfaces inspirés des casinos et machines à sous ont pu être
    développés, afin de toujours mieux phagocyter notre temps d’attention.
    L’ « infinite scroll » est construit de manière à rythmer sournoisement nos sécrétions de dopamine pour nous
    faire
    perdre la notion du temps en nous aspirant dans une sorte d’hypnose visuelle.
    Sans faire de vague ni crier "gare", en éliminant les frictions sur les sites web du au temps de
    rafraîchissement
    des
    pages à chaque nouvelle requête au serveur, Ajax à donc grandement participé à créer un rythme arasant de
    boucles
    rétroactives, et accélérer le bombardement du flux d'information sur nos écrans.

</p>
<p>
    D’après Deleuze la puissance du cerveau humain réside dans sa capacité à faire du vide.
    Les interfaces web nous accablent aujourd’hui en permanence de stimulus, et en déclenchant chez nous des besoins
    de
    réponses instantanées, elles nous empêchent de créer le vide nécessaire pour comprendre, analyser et construire
    une
    réflexion sur les informations reçus.
</p>
<p>
    Dans un des prologues de l’émission « le code à changé « de <strong>Xavier de La porte</strong>, je me souviens
    qu’il
    parle du rapport entre la mémorisation et notre perception du temps.
    Comme on arrive plus à pro-cesser correctement la grande quantité d’information qu’on ingurgite chaque jour, on
    ne
    mémorise plus et donc fatalement on finit par ne plus voir le temps passer, parce-que la mémoire c’est l’oublie.
    Pour ne pas avoir à faire d’effort, on s’en remet sereinement aux médias pour stocker nos informations à notre
    place.
</p>

<<<<<<< HEAD <h2 class="title-element">Design de l'interface de l'outil</h2>
    =======
    ##Design de l'interface de l'outil
    >>>>>>> 206256148f285515656d2cfb5878cc4b6d103b87

    <h3>La colonne de gauche</h3>
    <p>
        L’interface de l'outil web est divisée en trois colonnes.
        Celle de gauche, c'est la liste des chapitres.
        Pour créer un nouveau chapitre il faut cliquer sur le bouton tout en haut «add chapter», et pour le
        supprimer sur la
        croix en bout de ligne.
        Le dernier est appelé « Draft », c'est celui par défaut, là où viennent se mettre les notes qui n'ont pas
        encore de
        chapitre assignés ou bien celles de ceux fraichement supprimés.
        Draft est le seul chapitre qu'on ne peut ni supprimer ni changer de place.

    </p>
    <p>
        Pour sauver un chapitre il est obligatoire de rentrer un titre.
        Si on clique sur "add chapter" sans rentrer de valeur dans l'input titre alors j'informe l'utilisateur par
        un
        message
        d'erreur que ce champ ne peux pas resté vide.
        Les bords de l'input deviennent rouge et juste en dessous apparait la phrase indiquant "le titre ne peut pas
        être
        vide" ou un truc du genre.

    </p>
    <p>
        Il faut penser en amont à l'espace nécessaire pour afficher les messages d'erreurs en dessous des inputs
        quand on
        construit le design, sinon tout se décalent automatiquement vers le bas.
        Quand pleins de trucs bougent en même temps sur une interface c'est trop distrayant pour l'utilisateur et ça
        l’empêche
        de se concentrer sur ses buts ultimes.
        Pour faire des sites <a href="" id="ux">UX </a> friendly il faut tenter d'éliminer le maximum de frictions
        pour
        permettre à l'utilisateur de
        naviguer le plus instinctivement et rapidement possible et surtout éviter qu'il s'impatiente.

    </p>
    <p>
        En drag and droppant les titres des notes à l’intérieur des différents chapitres on peut les réagencer à
        notre
        guise.
        De même on peut réorganiser les chapitres en les déplaçant dans la colonne.

    </p>
    <p>
        Le drag and drop c’est assez intuitif comme interaction mais il faut trouver des moyens pour signifier à
        l’utilisateur
        quel élément du site est « draggable », puis où est ce qu'il peut les déposer.
        Pour cela la méthode la plus répandu c’est de customiser le curseur.
        En passant au dessus (hover ) d’un élément « draggable » la souris se change en mini gant de mickey mouse
        ouverte ,
        comme prête à saisir un objet.</br>
        <img src="./assets/images/openhand.svg" width="30px" alt="">
        </br>
        Quand l’objet est cliqué et transporté alors le curseur se transforme de nouveau, cet fois-ci la main simule
        l'agrippage de l’élément.</br>
        <img src="./assets/images/closedhand.svg" width="30px" alt="">
        </br>

    </p>

    <h3>Bar de navigation</h3>
    <p>

        La search bar des Tags se trouvent dans la navbar en haut du site.
        Pour la construire j'ai utiliser une librairie javascript appeler react-tag-input.

    </p>


    <h3>La colonne centrale</h3>

    <p>
        C'est la colonne des notes.
        Une note est composée d'un titre obligatoire, un contenu obligatoire, et une liste de tags optionnelle.
        Pour créer une nouvelle note il faut cliquer sur "add note" qui se trouve au même niveau que "add chapter".
        Dans les trois colonnes les boutons pour la fonctionnalité d'ajout se trouve au même endroit (en haut à
        droite) et
        partage le même design.
        C'est l'action principale à chaque fois donc elle doit être facilement repérable et intuitive.

    </p>
    <p>
        Une fois qu'un est sauvée elle sincère automatiquement en bas de la liste puis son titre s'ajoute
        simultanément dans
        le chapitre "Draft" par défaut.
        En haut à droite de chaque notes il y'a deux boutons icons alignés, une crois pour supprimer et un stylo
        pour
        updater
        (faire des modifications).

    </p>
    <p>
        Pour l'input de la liste de tags qui se trouve tout en bas d'une note, je me suis inspiré du système d'ajout
        dans
        gestionnaire de favoris firefox pour pouvoir ajouter plusieurs tags d'une traite .
        Il faut écrire la liste en séparant chaque mot par une virgule.
        Aussi il y'a une liste de suggestions qui s'affiche quand on commence à écrire, pour informer l'utilisateur
        de tout
        les tags déja existants qu'il peut choisir.
        En cliquant dessus l'autocomplétion permet de l’ajouter directement.

    </p>
    <p>
        La dernière fonctionnalité importante pour une note c'est l'utilisation du [language
        markdown](https://fr.wikipedia.org/wiki/Markdown) pour la mise en page de son contenu.
        Pour traduire visuellement le markdown dans le frontend j'utilise une librairie javascript appelé
        [Showdown](https://github.com/showdownjs/showdown).

    </p>
    <p>
        Enfin il y'a un bouton "⬆top" en bas à gauche de la colonne, qui permet de remonter rapidement tout en haut
        de la
        liste rapidement.
        J'ai ajouté un effet de transition pour créer une animation afin pour qu'on comprenne bien que quand on
        clique sur
        "⬆top", la collone scroll up jusqu'à arrivé tout au début.

    </p>

    ##Méthode pour la rédaction

    <p>
        Je n'ai aucune appétence pour l'écriture et j'ai donc cherché des conseils d’écrivains pour affronter
        cette étape
        rebutante de la rédaction.</br>
        Dans le podcast Bookmakers sur Arte Radio, l'écrivain Philippe Jaenada cite une phrase de Deleuze qui
        m'a aidé à
        décomplexer mon écriture et mettre enfin le pied à l'étrier:
        "Un grand écrivain c'est un étranger dans sa propre langue. Il ne mélange pas notre langue à sa langue,
        il taille
        dans
        sa langue une langue étrangère et qui ne préexiste pas."</br>
        Ce que j'en comprend c'est qu'on construit chacun une langue singulière à partir de notre propre langue
        maternelle.</br>
        Pour avoir du style, il faut donc chercher à ce que notre écriture soit au plus proche de ce qu'on est,
        qu'elle soit
        une transcription de notre magma intérieur, et révéler les spécificités de notre version unique de la
        langue.

    </p>
    <p>
        La méthode de Philippe Jaenada pour la rédaction c'est d'écrire par paragraphe et de "rouler" de phrases
        en phrases
        à
        l’intérieur pour avancer en gardant le fil, jusqu'à trouver un certain équilibre.</br>
        Il relit le texte mais pas à voix haute.</br>
        Puis quand il est convaincu il passe au suivant et s'impose de ne plus y revenir pour éviter de le
        modifier
        indéfiniment.</br>

    </p>
    <p>
        Je vais utiliser cette méthode: écrire par paragraphe, sans vraiment m'occuper de la cohérence de
        l'ensemble.
        A la toute fin je reviendrai sur les fragments, j'en supprimerai et je réagencerai le tout pour en faire
        émerger le
        sens.</br>
        Ce que j'ai surtout retenu c'est qu'il faut bien connaître son sujet pour que la structure et le style
        puissent
        suivre
        naturellement.</br>
        Ce podcast a fait comme un déclic, c'est comme çi j'avais ouvert une vanne et depuis les mots coulent à
        flot.

    </p>


    ## Construction de l'outil, contexte:
    >>>>>>> 206256148f285515656d2cfb5878cc4b6d103b87

    <p>
        Revenir sur les moments de construction de mon outil ça veut aussi dire replonger dans les souvenirs
        douloureux du
        premier confinement.</br>
        Pour être honnête, écrire ce mémoire aujourd'hui c'est comme tenter de me retirer une épine du pied
        sans vraie
        garantie de réussite.</br>
        Bien sur que c'est pour tout le monde pareil, mais j'ai passé le mois de mars 2020 devant ma
        fenêtre, à m'angoisser
        à
        l'idée qu'un proche meure seul dans un hôpital pendant que je suis à des centaines de kilomètres, en
        train de manger
        des deliveroo avec comme seul point de mire la raie du cul de mon voisin d'en face qui clope sur son
        balcon.</br>

    </p>
    <p>
        Dans le début de La Nausée Sartre parle de sa solitude: "Quand on vit seul, on sait même plus ce que
        c'est de
        raconter: le vraisemblable disparaît en même temps que les amis. Les événements aussi on les laisse
        couler; on voit
        surgir brusquement des gens qui parlent et qui s'en vont, on plonge dans des histoires sans queue ni
        tête : on
        ferait
        un exécrable témoin."</br>
        C'est un peu comme quand tu sors au supermarché après 3 jours de marathon Harry Potter en jogging
        sur ton
        canapé.</br>
        Tu as le teint pâle et un regard hagard et tu t'efforces de ne pas dire "Wingardium Leviosa" au lieu
        de merci à la
        caissière parce que tu as oublié comment avoir une interaction sociale.

    </p>
    <p>
        Sartre dit aussi qu'il y aurait un danger à fricoter trop avec la solitude, le risque ce serait de
        glisser de
        l'autre
        côté de la frontière, dans un abîme dangereux: "Mais je restais tout près des gens, à la surface de
        la solitude,
        bien
        résolu, en cas d'alerte, à me réfugier au milieu d'eux [...]".

    </p>
    <p>
        Dès le premier jour de confinement dans mon studio à Bruxelles j'ai ouvert grand les oreilles pour
        être au plus
        proche
        de mes voisins de palier (et pallier à mon manque de voisins).</br>
        Je ne leur avais pourtant, jusque là, accordé aucune sorte d'importance.</br>
        Au début j'ai été surprise par le silence, le soir il n'y avait plus aucun bruit dans la rue Antoine
        Dansaert
        d'habitude très animée.</br>
        La journée j'entendais des murmures, le calme, les sonneries des appels skype, les disputes du
        couple d'italiens de
        droite et leurs conversations inquiètes avec leurs familles en Italie, les applaudissements à 20h,
        le concert de
        piano
        de l'ado à gauche, et souvent les cris hystériques de ses parents qui craquaient sur les plus petits
        de la fraterie.
        </br>
        Et le soir du troisième jour j'ai entendu un cri.

    </p>
    <p>
        Sartre dit qu'à ce niveau de solitude on laisse passer les évènements vraisemblables mais du coup
        par compensation
        "tout ce qui ne pourrait être cru dans les cafés, on ne le manque pas".</br>
        Je ne suis pas sortie rapidement pour le cri parce-que j'avais l'impression de nager dans une sorte
        de rêve
        apocalyptique depuis le début de cette pandémie, ou une mauvaise série B de science fiction, et ce
        soir là je
        n'étais
        pas sur d'avoir envie d'un nouvel épisode de Stargate Sg1.</br>

    </p>
    <p>
        Finalement je suis sortie sur mon balcon et j'ai vu une femme agenouillée devant une forme enfantine
        qui gisait par
        terre, et la fenêtre du 4ème étage était ouverte.</br>
        Les flics sont arrivés dans la rue vide, ils regardaient la scène les bras ballants sans rien dire,
        le père a pris
        l'enfant dans ses bras, les pompier ne sont pas venus, ils ont arrêté de crier et je suis retourné
        dans mon lit.
        C'est à partir de là que je me suis plongée dans la construction de mon outil .</br>
        Pendant une semaine j'ai travaillé dessus frénétiquement, non stop jour et nuit.

    </p>
    <figure>

        <img src="https://www.stargate-project.de/storage/app/media/episoden/episode-sg-1-01x06.jpg" alt="stargate">

        <figcaption>
            yeyeyey stargate

        </figcaption>
    </figure>







    ##Choix de l’objet d’étude

    <p>
        Sometimes there's a man… I won't say hero, 'cause what's a hero? But sometimes there's a man,
        and I'm talking about
        the Dude here. </br>
        Sometimes there's a man… Well, he's the man for his time and place. He fits right in there. And
        that's the Dude in
        Los
        Angeles. And even if he's a lazy man, and the Dude was most certainly that, quite possibly the
        laziest in Los
        Angeles
        County, which would place him high in the running for laziest worldwide, but sometimes there is
        a man, sometimes
        there's a man… Well… lost my train of thought here.
        But… aw hell… I done introduced him enough. </br>
        Sam Elliott, The Big Lebowski (1998), écrit par Ethan et Joel Coen

    </p>
    <p>
        Pour le choix de l’objet d’étude j’ai longtemps hésité.</br>
        J’ai principalement oscillé entre la question de l’engineering care et des nouveaux robots
        intelligents dans les
        maisons de retraite, le post-colonialisme au Vietnam et le souffle nouveau dans l’art
        contemporain après 30 ans de
        guerres, puis l’évolution de nos expériences du temps sur les interfaces web depuis l’avènement
        de la technologie
        AJAX
        (pour asynchronous javascript and xml).</br>
        Ces trois objets d’études n’ont rien à voir et pourtant ce fut très difficile de les départager.

    </p>
    <p>
        Pour la dernière option j’ai effectué un test de practabilité.</br>
        D’abord j’ai cherché à délimiter l’ampleur de l’objet d’étude, c’est à dire me demander
        concrètement qui pourrait
        être
        intéressé par ce sujet.</br>
        Quand je donne le cours du « product pitch » au wagon (le coding BootCamp pour qui je travail
        occasionnellement),
        j’introduis la notion de « persona ».</br>
        Le persona c’est l’utilisateur type du produit, la « target » de l’application web.</br>
        Le mieux c’est toujours d’arriver à être au plus proche de son persona. </br>
        Pour ça il faut choisir un problème à résoudre pour quelqu’un de notre entourage, ou bien encore
        mieux, qui nous
        touche nous même directement.</br>
        Il faut pouvoir se glisser dans ses baskets, connaitre son quotidien, son environnement, et même
        tenter d'anticiper
        ses actions.</br>
        Aussi chez les startupeurs on parle du concept de « pain solving » et on dit que l’idée est «
        overreated » car c’est
        uniquement la manière dont on va apporter une solution nouvelle à un problème concret qui
        compte.</br>
        Être le premier à avoir l’idée ce n’est étonnamment pas forcément annonciateur de potentiel
        succès, nien au
        contraire,
        avant BlablaCar il y’a avait déja des sites de covoiturages ...</br>
        Surtout, en plus d’être rassurant, avoir des concurrents ça permet d’avancer plus vite en
        piquant les trouvailles
        des
        autres puis briller en trouvant un moyen de sortir du lot.</br>
        Bien sûr je suis loin d’adhérer à tout les préceptes cyniques que je prêche aux requins en
        costumes Celio du Wagon,
        mais ces techniques m'ont bien aidé pour trancher et faire mon choix.

    </p>
    <p>
        Construire un outil pour écrire mon mémoire c’était d’emblée pas une idée très sexy, et c’est
        aussi pour ça que ça
        m’a
        plu tout de suite.</br>
        Je n’avais jamais eu à construire un texte de cette ampleur et j’étais donc assez pétrifiée par
        la prospective de
        cet
        exercice.</br>
        Le but était de me simplifier la tâche au maximum et je suis mon propre persona donc je pouvais
        facilement
        caractériser toute les facettes du problème.</br>
        Je voulais aussi que le design de l’outil finisse par influencer mes chemins de pensée, m’aide à
        expérimenter de
        nouvelles formes d’écriture, et en bout de course donne une singularité à la forme final de
        l’objet imprimé.

    </p>
    <p>
        Malheureusement j’ai fait une erreur de débutant(e).</br>
        C’est très risqué de s’enfermer pendant des jours pour coder un outil sans avoir de point de vue
        ni avis extérieur.
        </br>
        Ce que je dis aussi souvent aux startupeurs c’est qu’avant d’écrire la première ligne de code il
        faut s’assurer, en
        testant le produit, que des gens sont près à payer. </br>
        Avant cette étape, même si votre famille, vos collègues, Elon Musk* et Marc Zuckerberg, vous
        répètent que c’est
        l’idée
        du siècle vous risquez fort de vous prendre un mur.</br>
        En plus aujourd’hui c’est très simple de tester une idée, il suffit d’une « landing page » qui
        décrit le produit, un
        formulaire d’inscription et un lien PayPal.</br>

    </p>
    <p>
        Comme je n’ai pas pensé à l’avenir de cet outil mais uniquement à l’urgence de l’écriture du
        mémoire, et que je n’ai
        pas voulu m’intéresser à l’accueil de mon outil dans le monde réel (en dehors de ma bulle de
        confinée),
        mon code est rapidement devenu un monstre tentaculaire indomptable avec des dizaines de
        fonctionnalités complexes et
        un ux* repoussant que j’étais la seule à pouvoir déchiffrer.</br>
        Quand on a le nez dans le guidon en programmation on s’embourbe rapidement dans des spaghettis
        apocalyptiques.
        Au moins cette aventure m'a permis de choisir mon objet d'étude.

    </p>

    <figure>

        <img src="https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/j_bridges_the_big_lebowsky_02_0.jpg?itok=4CDLWn2e"
            alt="the-dude">

        <figcaption>
            the dude, the big lebowski

        </figcaption>
    </figure>


    <div>

        ##Le DOM

        <p>
            Pour comprendre ce qu’il y’a de magique avec React, il faut comprendre un peu ce qu’il
            ce passe quand un
            site
            avant de transcrire visuellement le code sur nos écrans le navigateur construit le DOM.
            C’est une sorte de copie de l’html mais pas exactement.
            Le DOM c’est pour Document Object Model.
            En programmation, un objet est un conteneur qui comporte des propriétés et des méthodes
            – qui sont des
            variables
            et des actions concernant ce qu'il représente2.
            Le DOM c’est un arbre de noeud, et quand on utilise l’inspecteur (devTools) ce n’est pas
            le code source
            qu’on
            voit mais une représentation du DOM, donc ce n’est pas la version exacte du code du
            site.
            Si il y’a des erreurs ou des manque dans nos fichiers le navigateur va tenter de réparer
            tout ça au maximum
            au
            moment de la construction du DOM, par exemple si il manque des balises importantes comme
            la balise
            head ou body ou bien si parfois on a oublie de fermer une balise…
            Quand on utilise le javascript pour modifier le rendu de la page pour réagir aux
            interactions de
            l’utilisateur sur l’interface, c’est le DOM qu’on modifie et non pas directement le code
            source.
        </p>


        <figure>
            <img src="./assets/images/tweet-lepen.png" alt="tweet lepen">
            <figcaption>
                tweet lepen
            </figcaption>
        </figure>


        <p>
            Chaque noeud dans le DOM est un objet javascript et il est possible d’accéder
            aux parents ou enfants du
            noeud à partir de chaque noeud.
            Le navigateur cache un tas d’information dans les clefs de l’objet.
        </p>



        <figure>

            <img src="./assets/images/inspector-lepen.png" alt="inspecteur tweet lepen">
            <figcaption>
                inspecteur tweet lepen
            </figcaption>
        </figure>

    </div>