.pagedjs_margin-content {
    width: initial !important;
}

@media print {
    @page {
        size: 140mm 216mm;
        /* Format Digest */
        margin-top: 48px;
        margin-bottom: 64px;
        /* bleed: 6mm;
        marks: crop cross; */
    }

    @page :left {
        margin-left: 0px;
        margin-right: 50.253px;

        @bottom-left-corner {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            justify-content: flex-start;
            margin-left: 3px;
            margin-top: 17px;

        }

        @top-left {
            content: string(title);
            width: 110mm;
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            margin-top: 17px;
        }
    }

    @page :right {
        margin-left: 50.253px;
        margin-right: 0px;



        @bottom-right-corner {
            content: counter(page);
            font-family: var(--sans-serif);
            font-size: var(--text-xs);
            align-items: start;
            justify-content: flex-end;
            margin-top: 17px;
            margin-right: 3px;
        }


    }

    @page :blank {
        @bottom-left-corner {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right-corner {
            content: none;
        }
    }

    @page :first {
        @bottom-left-corner {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right-corner {
            content: none;
        }
    }

    /* @page :nth(3) {
    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }
} */

    #cover,
    #first-page {
        break-after: right;
    }

    #colophon,
    #last-page {
        break-before: left;
    }

    h2 {
        break-after: right;
        break-before: right;
    }

    @page :blank {
        @bottom-right-corner {
            content: none;
        }
    }
}