/* Texte et listes */
p,
ul,
ol,
small {
    line-height: calc(var(--baseline) * 2.35);
    margin: calc(var(--baseline) * 2.35) 0;
}

.pagedjs_right_page p {
    border-right: 25px solid black;
    width: 480px;
    padding-right: 25px;
}

.pagedjs_left_page p {
    border-left: 25px solid black;
    padding-left: 25px;
    /* margin-left: -49px; */
}


ul {
    padding-left: 1rem;
}

ul>li {
    list-style: none;
    padding-left: 0.5rem;
}

ul>li:before {
    content: "—";
    font-family: var(--sans-serif);
    position: absolute;
    left: 0;
}

ul>li>ul {
    margin: 0;
}

p>small,
.text-xs {
    font-size: var(--text-xs);
}

.text-xxs {
    font-size: var(--text-xxs);
}