@font-face {
    font-family: 'VerilySerifMono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/VerilySerifMono.otf');
}

:root {
    --serif: "Times New Roman", serif;
    --sans-serif: "VerilySerifMono", "Arial", sans-serif;
    --baseline: 8px;
    --baseline-color: rgb(35, 0, 51);
    --baseline-position: 0;
    --text-xxs: 0.5rem;
    /*  8px */
    --text-xs: 0.75rem;
    /* 12px */
    --text-sm: 0.875rem;
    /* 14px */
    --text-base: 1rem;
    /* 16px */
    --text-lg: 1.25rem;
    /* 20px */
    --text-xl: 1.5rem;
    /* 24px */
    --text-2xl: 2.25rem;
    /* 36px */
    --text-3xl: 3.375rem;
    /* 54px */
}


body {
    font-family: var(--sans-serif);
    line-height: 1.333;
    orphans: 3;
    widows: 3;
    font-size: var(--text-sm);
    counter-reset: figures footnotes chapters;
}

a {
    color: black;
    word-break: break-word;
}

@import "./css/titles.css";
@import "./css/text-list.css";
@import "./css/image.css";
/* @import "./css/table-of-content.css"; */
@import "./css/print.css";