@font-face {
    font-family: 'VerilySerifMono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/VerilySerifMono.otf');
}





@page {
    size: 148mm 210mm;
    margin: 1mm;
}


@page :right {
    margin-left: 8mm;
    padding-left: 10mm;

    @bottom-left {
        content: counter(page);
        font-size: 7.5pt;
        margin-top: 1mm;
        margin-left: 25mm;
        vertical-align: top;
    }

    @left-bottom {
        content: "yeyeyeyye";
        font-size: 7pt;
        text-transform: uppercase;
        text-align: left;
        margin-left: 14mm;
        margin-top: 72mm;
        vertical-align: top;
        width: 100mm;
        transform: rotate(-90deg);
    }

    @right-bottom {
        color: white !important;
    }



}

@page :left {
    margin-left: 40mm;
    padding-right: 10mm;

    @bottom-left {
        content: counter(page);
        font-family: 'Elaine';
        font-size: 9pt;
        margin-top: 0mm;
        margin-left: -5mm;
        vertical-align: top;
    }

    @right-bottom {
        content: " ";
        font-family: 'Fablab';
        font-size: 6pt;
        text-transform: uppercase;
        text-align: left;
        margin-left: 7mm;
        margin-top: 92mm;
        vertical-align: top;
        width: 80mm;
        transform: rotate(-90deg);
    }

    @left-bottom {
        color: white !important;
    }
}




/* @font-face {
    font-family: "Selectric";
    src: url("http://typotheque.luuse.io/content/fonts/selectric/SelectricRoman.otf");
} */



body {
    font-size: 10pt;
    line-height: 1.25em;
    color: black;
    font-family: "VerilySerifMono";
}

h1 {
    font-size: 3em;
    line-height: 1.25em;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: normal;
    /* break-before: page; */
}

h3 {
    color: green;
    font-weight: normal;
}

a {
    color: blue;
}

p+p {
    text-indent: 1em;
}

img {
    width: 100%;
    object-fit: cover;
    /* max-width: 2.5cm; */
}

.metadata {
    margin: 1.25em 0;
}

.author {
    color: grey;
}

.date {
    text-decoration: underline;
}

time {
    font-style: italic;
}

.content {
    display: flex;
    column-count: 2;

}

.content>div {
    column-count: 2;
    flex-basis: 75%;
}

.images {
    flex-basis: 25%;
}

.subtitles {

    column-count: 2;
    flex-basis: 75%;
}



/* @media screen and (min-width: 800px) {

    @page {
        size: 155mm 205mm;
        margin: 9mm;
    }
} */